type-conversion-josn-to-string/src/main/mule/type-conversion-josn-to-string.xml
<?xml version="1.0" encoding="UTF-8"?>

 <mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
     xmlns="http://www.mulesoft.org/schema/mule/core"
     xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
 http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
 http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
     <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2ba87ba6-bc6a-43bf-9347-480e964d4d25" >
         <http:listener-connection host="0.0.0.0" port="8081" />
     </http:listener-config>
     <flow name="onlytestFlow" doc:id="3a3ecffc-54d9-41b1-910c-f50a0a17c328" >
         <http:listener doc:name="Listener" doc:id="e6e1c846-e2e4-4718-a3a3-82f7fd49bdf6" config-ref="HTTP_Listener_config" path="/tc"/>
         <ee:transform doc:name="Transform Message" doc:id="80fb7312-fda5-4cea-91a3-ad54faf2ed9a" >
             <ee:message >
                 <ee:set-payload ><![CDATA[%dw 2.0
 output application/json
 ---
 {
     
     "firstName": "Mani",
     "Address Line1": "Address line 1"
 }]]></ee:set-payload>
             </ee:message>
         </ee:transform>
         <set-payload value="#[payload]" doc:name="Set Payload" doc:id="346d07ae-a6b7-4a68-8480-db56693ef189" mimeType="text/plain"/>
         <ee:transform doc:name="Transform Message" doc:id="71f04f59-5cac-4713-b17f-d9fc17532e8b" >
             <ee:message >
                 <ee:set-payload ><![CDATA[%dw 2.0
 output application/java
 ---
 payload as String]]></ee:set-payload>
             </ee:message>
         </ee:transform>
         <logger level="INFO" doc:name="Logger" doc:id="0b7dbd81-5d28-4bf7-9d4f-309be5335d34" />
     </flow>
 </mule>