DWComplexTransformation/src/main/mule/DWComplexTransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="97078aba-8298-4db0-95f4-2a4afc75d917" file="config/config-dev.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="feda7fe0-213e-4741-941d-62e41837ecb2" basePath="/api" >
		<http:listener-connection host="${http.server}" port="${http.port}" />
	</http:listener-config>
	<flow name="DWComplexTransformationFlow" doc:id="1b0f1af6-27c3-473d-a86a-415eb9c8d9ca" >
		<http:listener doc:name="Listener" doc:id="26a69ab2-6e27-4161-b7cf-8220227e6f5a" config-ref="HTTP_Listener_config" path="/complex" allowedMethods="POST" doc:description="http://localhost:8081/api/complex?interest=Study&amp;section=Game"/>
		<ee:transform doc:name="Transform Message" doc:id="3b06a204-1502-4739-834c-b4124bea6b7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var interest = attributes.queryParams.interest
var section = attributes.queryParams.section

---

using (data = 
	if (upper(interest) != "ALL") payload.Groups[?($.Interest == interest)][0].Category else flatten(payload..Category)
)
flatten((data default [])[?($.Section == section)].Kids) map ({
	Id: $.Id,
	Name: $.Name,
	Hobby: $.Hobby,
	Age: $.Age
}) orderBy $.Name default []
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="DWAboveTransformationWithoutMapFlow" doc:id="2e1cf566-cd00-4168-a27b-62d7558d8fc6" doc:description="Above Flow Transformation Without Map Operator">
		<http:listener doc:name="Listener" doc:id="1e8d3c53-c2a8-4819-bbea-794e01c89318" config-ref="HTTP_Listener_config" path="/complexWithoutMap" allowedMethods="POST" doc:description="http://localhost:8081/api/complexWithoutMap?interest=Player&amp;section=Game"/>
		<ee:transform doc:name="Transform Message" doc:id="298e20f8-d2db-43ad-8522-55def3fe8176" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var interest = attributes.queryParams.interest
var section = attributes.queryParams.section

---

using (data = 
	if (upper(interest) != "ALL") payload.Groups[?($.Interest == interest)][0].Category else flatten(payload..Category)
)
flatten((data default [])[?($.Section == section)].*Kids) orderBy $.Name default []
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
