ContentBasedRouting/src/main/mule/ContentBasedRouting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="9753a6cf-5077-4a96-a521-f3af4c7cfd5f" file="config/config-${env}.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8f28d746-eea1-4ef1-b704-892037109a01" >
		<http:listener-connection host="${http.server}" port="${http.port}" />
	</http:listener-config>
	<file:config name="US_File_Config" doc:name="File Config" doc:id="e18b11bc-8c98-4809-bada-1ae1b1ad8d9b" >
		<file:connection workingDir="F:\projects\mulesoft\mule\ContentBasedRouting\src\test\resources\out\US" />
	</file:config>
	<file:config name="UK_File_Config" doc:name="File Config" doc:id="1574dcb4-52e4-4238-9ec7-64333413290d" >
		<file:connection workingDir="F:\projects\mulesoft\mule\ContentBasedRouting\src\test\resources\out\UK" />
	</file:config>
	<flow name="MainFlow" doc:id="5e1ff2bf-d22f-4347-83a8-b11a81892808" >
		<http:listener doc:name="API Endpoint" doc:id="caaaf789-7496-410d-b8a9-9c368bbe9b70" config-ref="HTTP_Listener_config" path="/cbr" allowedMethods="POST"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="Destination" doc:id="c69a4c08-69a5-4514-8a92-8980bcc32f39" variableName="destination"/>
		<logger level="INFO" doc:name="Log Destination" doc:id="550d7513-94b7-4682-961f-c20255936733" message="The destination is: #[vars.destination]"/>
		<choice doc:name="Router Selection" doc:id="b32b6db9-d71c-4ede-8f64-5fea1b2d9037" >
			<when expression="#[vars.destination == 'US']" >
				<file:write doc:name="US Router" doc:id="4601d600-fa64-4939-9bb2-5b78de3bc390" config-ref="US_File_Config" path="US.out"/>
				<ee:transform doc:name="Transform Message" doc:id="6395cc45-5eab-4aa6-80cf-a18047c76a95" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Status: "Router executed successfully:" ++ (vars.destination default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.destination == 'UK']" >
				<file:write doc:name="UK Router" doc:id="9cea56d3-b2aa-47a1-a1f5-1ebb6a601ca9" config-ref="UK_File_Config" path="UK.out"/>
				<ee:transform doc:name="Transform Message" doc:id="08611de1-ebca-454a-bddb-4d43cffc2867" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Status: "Router executed successfully:" ++ (vars.destination default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value="#[payload]" doc:name="Default Router" doc:id="1105dc9e-bd12-4d62-a267-5364dc87357a" />
			</otherwise>
		</choice>
	</flow>
</mule>
