type-conversion-json-to-string-1/src/main/mule/type-conversion-json-to-string-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:rabbitmq="http://www.mulesoft.org/schema/mule/rabbitmq" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/rabbitmq http://www.mulesoft.org/schema/mule/rabbitmq/current/mule-rabbitmq.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7222d3dc-dfea-4e97-8cb9-0237cb2dde61" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<rabbitmq:config name="Rabbitmq_Config" doc:name="Rabbitmq Config" doc:id="feb6613e-44ac-42d3-bed6-98ce9cd3c064" configId="c1b5" >
		<rabbitmq:connection queueName="muleAppQueue" />
	</rabbitmq:config>
	<flow name="type-conversion-json-to-string-1Flow" doc:id="e84847d7-e638-4e6b-80b6-ba70631d2f7c" >
		<http:listener doc:name="Listener" doc:id="dea705f0-b3bd-4cf1-8d62-572eefea1cb9" config-ref="HTTP_Listener_config" path="/tc" allowedMethods="POST" doc:description='http://localhost:8081/tc

{
  "emp" : {
	"name" : "Sanjeev",
	"dept" : "IT"
  }
}'/>
		<ee:transform doc:name="Transform json to string" doc:id="4fd984ca-1fb3-4eff-a07b-93da8bcda97e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<rabbitmq:publish doc:name="Publish string message" doc:id="53e149fa-dd71-4b69-a11d-cf234e66d718" config-ref="Rabbitmq_Config" message="#[payload]" doc:description="This excepts only String message."/>
	</flow>
</mule>
