WebServiceConsumerRest/src/main/mule/WebServiceConsumerRest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6916b43-748d-4c53-8195-7f48eda892bd" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f6492d1d-dd8c-43a1-927e-bc8687f40097" >
		<http:request-connection host="api.openweathermap.org" />
	</http:request-config>
	<flow name="WebServiceConsumerRestFlow" doc:id="2727e204-bbd0-431c-a36f-4ec026fead5a" >
		<http:listener doc:name="HttpListener" doc:id="d79b7bde-c67c-4160-9476-4cb671bdeafa" config-ref="HTTP_Listener_config" path="/RestConsumer" doc:description="http://localhost:8081/RestConsumer?city_country=London,uk&amp;apikey=&lt;key&gt;"/>
		<logger level="INFO" doc:name="Logger" doc:id="3402e3ae-3172-4e9a-a63c-bb710051b206" />
		<set-variable value="#[attributes.queryParams.apikey]" doc:name="Set Api key Variable" doc:id="64436391-a36f-43ef-8dc3-1d212b342cfa" variableName="apikey"/>
		<http:request method="GET" doc:name="Request" doc:id="879a4986-27bf-4325-8629-440ab923327b" config-ref="HTTP_Request_configuration" path="/data/2.5/weather">
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"q" : attributes.queryParams.city_country,
	"apikey" : vars.apikey
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
