sdk-soap-srvc-consumer-usage/src/main/mule/sdk-soap-srvc-consumer-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:soap-service-consumer="http://www.mulesoft.org/schema/mule/soap-service-consumer"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/soap-service-consumer http://www.mulesoft.org/schema/mule/soap-service-consumer/current/mule-soap-service-consumer.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="befa5dd2-b75b-4313-a491-7d1e4ee0913a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<soap-service-consumer:config name="Soap_Service_Consumer_Config" doc:name="Soap Service Consumer Config" doc:id="13362e91-6852-4fe1-91a3-34f2fc9e13b6" configId="c1" >
		<soap-service-consumer:connection requiredParameter="eqf2" />
		<soap-service-consumer:soap-client-config wsdlLocation="http://dneonline.com/calculator.asmx?WSDL" service="Calculator" soapVersion="SOAP12" port="CalculatorSoap12"/>
	</soap-service-consumer:config>
	<flow name="sdk-soap-srvc-consumer-usageFlow" doc:id="e93ce035-f79b-4d67-ab4d-6ec455ddbca3" >
		<http:listener doc:name="Listener" doc:id="833820ed-ab79-4d77-9042-0ae2ab7e5291" config-ref="HTTP_Listener_config" path="/soap_consumer"/>
		<ee:transform doc:name="Transform Message" doc:id="83f73c0b-3b70-4e36-9cae-587acce01d45" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml encoding="UTF-8"
---
{
//	Body: {
		Add: {			
			intA: 5,
			intB: 15
		}
//	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="35ff79e4-79d6-423f-a75c-3a874fee5807" mimeType="text/plain"/>
		<soap-service-consumer:addition number1="#[attributes.queryParams.number1]" number2="#[attributes.queryParams.number2]" doc:name="Addition" doc:id="33a5c504-2474-40a0-89e3-f2d92d768fe9" config-ref="Soap_Service_Consumer_Config" operation="Add"/>
		<ee:transform doc:name="Transform Message" doc:id="2552120c-ae34-4d48-9a53-b1d06f7591da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	AdditionOfTwoNumbers: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
