munittests/src/main/mule/flow2-jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="af197b7c-5b3f-4453-961c-efd804badd96" >
		<jms:active-mq-connection />
	</jms:config>
	<flow name="flow2Flow" doc:id="43b0c82a-a2cd-4f09-abab-ae87ff258ded" >
		<http:listener doc:name="Listener" doc:id="dbf0e962-b001-4a57-a73d-ef08f2a84b63" config-ref="HTTP_Listener_common_config" path="/flow2"/>
		<set-payload value="#['test']" doc:name="Set Payload" doc:id="a7b49c45-cd73-4abe-a67e-6430c7163f00" />
		<jms:publish doc:name="Publish" doc:id="2fd8ada8-216d-442f-8631-6e3b7e811aea" config-ref="JMS_Config" destination="myqueue"/>
		<set-payload value="#['Success']" doc:name="Set Payload" doc:id="381c32fb-272a-4940-afdf-84ca1e3a60f3" />
	</flow>
</mule>
