munittests/src/main/mule/munittests_raise_error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<flow name="munittestsFlow" doc:id="251a12b2-a221-4bc2-9eac-5904767a53d5" >
		<http:listener doc:name="Listener" doc:id="3a8f36b8-3b60-4338-bd25-702aba842590" config-ref="HTTP_Listener_common_config" path="/munit" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="21c02e45-a2b9-48b1-8b8f-408f2572faca" message="#[payload]"/>
		<set-variable value="#[attributes.queryParams.item_id]" doc:name="Set Variable" doc:id="4db0904e-75fa-413e-a2d7-f2d1acbf3a49" variableName="item_id"/>
		<logger level="INFO" doc:name="Logger" doc:id="6e4cfee9-d16f-4c9c-bdbf-c879e35b4762" message="#[vars.item_id]"/>
		<choice doc:name="Choice" doc:id="31b119a1-b172-47b9-9ace-0445e468eb87" >
			<when expression='#[vars.item_id == "100"]'>
				<ee:transform doc:name="Transform Message" doc:id="65ad30e6-8a5c-4703-90c2-9bb14d580228">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.status]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression='#[vars.item_id == "000"]'>
				<logger level="INFO" doc:name="Logger" doc:id="22413119-fff8-4927-b1f8-c83e92d496fe" message="#[vars.item_id]"/>
				<raise-error doc:name="Raise error" doc:id="5818a6ed-0a2d-41fd-8b7d-4511835541a6" type="EMPLOYEE:INVALIDATE_ID" description="#['ID  $(vars.item_id) is invalid.']"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="584608c7-5045-47c8-ae7d-e46e5f4db3c4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"Not Sure"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b8330cdd-bce2-4c75-853f-ee5038b53cb8" type="EMPLOYEE:INVALIDATE_ID">
				<logger level="INFO" doc:name="Logger" doc:id="92fa823c-d2c7-491f-b172-600256328ee7" message="Error occurred : #[error.description]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
