DWMapAndBasicFuntions/src/main/mule/DWMapAndBasicFuntions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="9753a6cf-5077-4a96-a521-f3af4c7cfd5f" file="config/config-${env}.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8f28d746-eea1-4ef1-b704-892037109a01" >
		<http:listener-connection host="${http.server}" port="${http.port}" />
	</http:listener-config>
	<flow name="DWMapAndBasicFuntionsFlow" doc:id="5e1ff2bf-d22f-4347-83a8-b11a81892808" >
		<http:listener doc:name="Listener" doc:id="caaaf789-7496-410d-b8a9-9c368bbe9b70" config-ref="HTTP_Listener_config" path="/dw"/>
		<logger level="INFO" doc:name="Logger" doc:id="9fc4d6dd-b9c6-41b0-9875-d37a67eb245b" />
		<ee:transform doc:name="Transform Message" doc:id="fc583148-2c32-4863-b543-6c9b4c40d26f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
Students: payload.Kids map 
{
	Name: upper($.Name),
	Hobby: lower ($.Hobby)	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="DWMapMultiChildrenTypeFlow" doc:id="9725813f-a252-4056-af19-87ce84cea017" >
		<http:listener doc:name="Listener" doc:id="4e73ff10-599f-4814-ab95-42aaac6b2b68" config-ref="HTTP_Listener_config" path="/dwmanychild"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf4defb5-58d1-48e2-8935-e76339cc3741" />
		<ee:transform doc:name="Transform Message" doc:id="e7634c94-2400-47c7-ad8d-d11d5311c28a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
Students: payload.Kids.*Player map 
{
	Player: {
		Name: upper($.Name),
		Hobby: lower($.Hobby)
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
