AsyncFlowAndFileWriteComponent/src/main/mule/AsyncFlowAndFileWriteComponent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<configuration-properties doc:name="Configuration properties"
		doc:id="9753a6cf-5077-4a96-a521-f3af4c7cfd5f" file="config/config-${env}.yaml" />
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config" doc:id="8f28d746-eea1-4ef1-b704-892037109a01">
		<http:listener-connection host="${http.server}"
			port="${http.port}" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config"
		doc:id="e18b11bc-8c98-4809-bada-1ae1b1ad8d9b">
		<file:connection
			workingDir="F:\projects\mulesoft\mule\AsyncFlowAndFileWriteComponent\src\test\resources\out\AsyncFlow" />
	</file:config>
	<file:config name="MainFlowFile_Config" doc:name="File Config"
		doc:id="1574dcb4-52e4-4238-9ec7-64333413290d">
		<file:connection
			workingDir="F:\projects\mulesoft\mule\AsyncFlowAndFileWriteComponent\src\test\resources\out\MainFlow" />
	</file:config>
	<flow name="MainFlow" doc:id="5e1ff2bf-d22f-4347-83a8-b11a81892808">
		<http:listener doc:name="Listener"
			doc:id="caaaf789-7496-410d-b8a9-9c368bbe9b70" config-ref="HTTP_Listener_config"
			path="/dw" allowedMethods="POST" />
		<logger level="INFO" doc:name="Logger"
			doc:id="9fc4d6dd-b9c6-41b0-9875-d37a67eb245b" message="Main Flow started." />
		<set-variable value="#[payload]" doc:name="Set Variable"
			doc:id="2bd9602e-b2f9-4c07-b8a7-6c54716a582e" variableName="v1" />
		<async doc:name="Async" doc:id="4b0575eb-4bab-4a21-8840-a1c0933141ca">
			<flow-ref doc:name="Flow Reference" doc:id="58fc03f3-9512-4733-b64d-b864e02f43fc"
				name="AsyncFlowFlow" />
		</async>
		<file:write doc:name="Write" doc:id="6a436c13-7858-465b-99f0-ad4a95ce4ae6"
			config-ref="MainFlowFile_Config" path="MainFlowFile">
			<file:content>
				<![CDATA[#[%dw 2.0
				output application/json
				---
				  {
				  header: "This is main flow payload.",
				  content:  payload
				  }]]]>
			  </file:content>
		</file:write>
		<logger level="INFO" doc:name="Logger"
			doc:id="ee42c9b4-d8e9-4c4f-ad5d-515e546fab7e" message="Main Flow completed." />
	</flow>
	<flow name="AsyncFlowFlow" doc:id="11d1144b-aef0-447d-9a77-ac90c20bdc38">
		<logger level="INFO" doc:name="Logger"
			doc:id="8ad17269-5140-47e6-8c5e-debbd9804efd" message="Async Flow Started" />
		<scripting:execute engine="Groovy" doc:name="Delay 30 Secs"
			doc:id="ab554a8a-1449-4c82-a6dd-62a19bdb31cb">
			<scripting:code>sleep(30000)</scripting:code>
		</scripting:execute>
		<set-payload value="#[vars.v1]" doc:name="Set Payload"
			doc:id="ed421228-68d5-40e8-971b-acd90d29aab8" />
		<file:write doc:name="Write" doc:id="3a720835-9867-47f9-b15b-8aa831e7a0c7"
			config-ref="File_Config" path="AsyncFile">
			<file:content><![CDATA[#[%dw 2.0
output application/json
  ---
  {
	header: "This is async payload.",
	content:  payload
}]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="Logger"
			doc:id="b6a5cf44-ba01-4398-b6da-a3227b2c98d5" message="Async flow completed." />
	</flow>
</mule>
