sdk-soap-service-consumer-usage/src/main/mule/sdk-soap-service-consumer-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:soap-service-consumer="http://www.mulesoft.org/schema/mule/soap-service-consumer" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/soap-service-consumer http://www.mulesoft.org/schema/mule/soap-service-consumer/current/mule-soap-service-consumer.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de52f3c5-ef6d-4f84-ba65-8daee38e6a07" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<soap-service-consumer:config name="Soap_Service_Consumer_Config" doc:name="Soap Service Consumer Config" doc:id="6665b437-b006-4060-a640-d4b4a420aa01" configId="e23" >
		<soap-service-consumer:connection requiredParameter="3" />
		<soap-service-consumer:soap-client-config wsdlLocation="F:\tmp\temp\mule\projects\soap\calculator\calculator.wsdl" />
	</soap-service-consumer:config>
	<soap-service-consumer:config name="Soap_Service_Consumer_Config1" doc:name="Soap Service Consumer Config" doc:id="b3cf96d9-7b12-4a54-b7e0-cd6702e0bde0" configId="c1b">
		<soap-service-consumer:connection requiredParameter="Alfa" />
		<soap-service-consumer:soap-client-config wsdlLocation="F:\tmp\temp\mule\projects\soap\calculator\calculator.wsdl" service="Calculator" />
	</soap-service-consumer:config>
	<flow name="sdk-soap-service-consumer-usageFlow" doc:id="020a223d-cbc1-41d3-9d3e-bf5960ee96b4" >
		<http:listener doc:name="Listener" doc:id="ddd07d77-3a2e-42c7-8aee-b475357ab0d3" config-ref="HTTP_Listener_config" path="/soap"/>
		<set-payload value='&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"&gt;
  &lt;soap12:Body&gt;
    &lt;Add xmlns="http://tempuri.org/"&gt;
      &lt;intA&gt;5&lt;/intA&gt;
      &lt;intB&gt;10&lt;/intB&gt;
    &lt;/Add&gt;
  &lt;/soap12:Body&gt;
&lt;/soap12:Envelope&gt;' doc:name="Set Request Payload" doc:id="c25db886-0d0c-4295-8cbb-1e1109b320f6" mimeType="application/xml"/>
		<soap-service-consumer:add number1="4" number2="6" doc:name="Add" doc:id="aba4c836-19ba-495c-9e49-4c4bff5b275a" config-ref="Soap_Service_Consumer_Config1">
			<soap-service-consumer:body ><![CDATA[#[#[payload]]]]></soap-service-consumer:body>
		</soap-service-consumer:add>
		<ee:transform doc:name="Transform Message" doc:id="9d9166a6-c7d6-4818-b354-d4ee394a7fae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
